.biography {
  padding-top: 60px;
  padding-bottom: 60px;
}

.biography__title {
  margin: 0;
  margin-bottom: 20px;
}

.biography__about {
  margin: 0;
  margin-bottom: 20px;
  color: $font-text-black;
}

.biography__list {
  @include list-reset();
}

.biography__date {
  margin: 0;
  font-size: 20px;
  line-height: 40px;
  letter-spacing: 0.05em;
  color: $font-grey;
}

.biography__text {
  margin: 0;
  margin-bottom: 20px;
  color: $font-text-black;
}

.biography__more {
  margin-bottom: 40px;
}
