.museums {
  position: relative;
  padding-top: 60px;
  padding-bottom: 66px;
  border-top: 1px solid #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.museums__title {
  margin-bottom: 42px;
}

.museums__map {
  margin-bottom: -3px;
}

.museums__list {
  @include list-reset();
}

.museums__item {
  border-bottom: 1px solid #e5e5e5;
}

.museums__item:last-child {
  border: none;
}

.museums__item-wrapper {
  padding: 40px 40px 40px 25px;
}

.museums__item-title {
  margin: 0;
  margin-bottom: 20px;
  position: relative;
  display: block;
  font-size: 16px;
  line-height: 26px;
  padding-left: 30px;
}

.museums__item-title a {
  color: $font-black;
}

.museums__item-title::before {
  content: "";
  display: block;
  position: absolute;
  width: 14px;
  height: 18px;
  left: 0;
  top: 5px;
  background: url("../img/marker.svg") center no-repeat;
}

.museums__item-address,
.museums__item-tel {
  margin: 0;
  font-size: 14px;
  line-height: 24px;
  color: $font-grey;
}

@media (min-width: 768px) {
  .museums__title {
    margin-bottom: 360px;
  }

  .museums__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .museums__item {
    width: 48%;
    border: none;
  }

  .museums__map {
    display: block;
    position: absolute;
    left: 0;
    top: 125px;
    width: 100%;
  }
}

@media (min-width: 1024px) {
  .museums__title {
    margin-bottom: 40px;
  }

  .museums__map {
    position: static;
    margin-bottom: 40px;
  }

  .museums__list {
    width: 920px;
  }

  .museums__item {
    width: 33%;
  }

  .museums__item:nth-child(2) {
    border-right: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
  }

  .museums__item-wrapper {
    padding-top: 0;
  }
}

@media (min-width: 1024px) {
  .museums {
    border: none;
    padding-top: 84px;
    padding-bottom: 105px;
  }

  .museums__item-wrapper {
    padding-left: 0;
    padding-right: 4px;
  }

  .museums__item {
    width: 31%;
  }

  .museums__item:nth-child(1) {
    border-right: 1px solid #e5e5e5;
  }

  .museums__item:nth-child(2) {
    border-right: 1px solid #e5e5e5;
    border-left: none;
  }
}
